body{
    display: flex;
    justify-content: center;
    align-content: center;
}
form{
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    justify-content: center;
    text-align: center;
} 